@media print {
  footer {
      display: none !important;
  }
}

footer {
    display: flex;
    width: 99vw;
    justify-content: center;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 98vw;
    font-family: Arial, sans-serif;
    margin-bottom: 1px;
    padding: 10px 0px;
    border-radius: 3px;
    align-content: center;
  }

  footer a {
    color: #4db8ff; /* Light blue link color */
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }