@media print {
  * {
    color: white !important;
  }

  body {
    background: white !important;
  }
}

* {
  font-family: monospace, monospace;
}

body {
  background: dimgray;
}

h1 {
  color: white;
}