<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/static/images/favicon.png" />
    <link rel="stylesheet" href="/static/css/add-mixture.css" />
    <link rel="stylesheet" href="/static/css/general.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waste Label Maker</title>
  </head>
  <body>
    {{ template "component-navbar.html" . }}
    <h1>Add New Mixture</h1>
    <h2>
      Still needs to be developed
    </h2>
    {{ template "component-footer.html" . }}
    <script src="/static/js/arrow-navigation.js"></script>
  </body>
</html>
