<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/static/assets/images/favicon.png" />
    <link rel="stylesheet" href="/static/assets/css/general.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Waste Label Maker</title>
</head>
<body>
  {{ template "component-navbar.html" . }}
  <div class="content">
    <h1>Welcome to the Waste Tagging System</h1>
    <p>Use the navigation above to create tags & add new chemicals and mixtures</p>
  </div>
  {{ template "component-footer.html" . }}
</body>
</html>
