<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="data:," />
    <link rel="stylesheet" href="/static/assets/css/footer.css">
    <link rel="stylesheet" href="/static/assets/css/navbar.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Homepage</title>
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/create-tag">Create Tag</a>
        <a href="/add-chemical">Add Chemical</a>
        <a href="/add-mixture">Add Mixture</a>
    </nav>

    <div class="content">
        <h1>Welcome to the Waste Tagging System</h1>
        <p>Use the navigation above to create tags & add new chemicals and mixtures</p>
    </div>
    <footer>
      <div class="footer">
      <a href="https://cdn.williamveith.com/?id=af59584e-d47b-4875-86cc-81b189ab069f" class="author-link">
        Label Generator - Author William Veith
      </a>
    </div class="footer">
    </footer>
</body>
</html>
