<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="data:," />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waste Label Form</title>
    <style>
      * {
        font-family: monospace, monospace;
      }

      body {
        background: dimgray;
      }

      h1 {
        color: white;
      }

      .parent {
        width: 600px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 7px;
      }

      .parent > div {
        padding: 10px;
        border: 1px solid black;
        background-color: #f0f0f0;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        border-radius: 4px;
      }

      input,
      select {
        width: 100%;
      }

      .div1 {
        grid-area: 1 / 1 / 2 / 3;
      }
      .div2 {
        grid-area: 2 / 1 / 3 / 3;
      }
      .div3 {
        grid-area: 3 / 1 / 4 / 2;
      }
      .div4 {
        grid-area: 3 / 2 / 4 / 3;
      }
      .div5 {
        grid-area: 4 / 1 / 5 / 2;
      }
      .div6 {
        grid-area: 4 / 2 / 5 / 3;
      }
      .div7 {
        grid-area: 5 / 1 / 6 / 2;
      }
      .div8 {
        grid-area: 5 / 2 / 6 / 3;
      }
      .div9 {
        grid-area: 6 / 1 / 7 / 3;
      }
      footer {
        background-color: #333;
        color: white;
        padding: 15px 20px;
        text-align: center;
        position: fixed; /* Makes the footer stick to the bottom */
        bottom: 0;
        width: 100%;
        font-family: Arial, sans-serif;
      }

      footer a {
        color: #4db8ff; /* Light blue link color */
        text-decoration: none;
      }

      footer a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <h1>Generate Waste Label</h1>
    <form class="parent" action="/" method="POST">
      <div class="div1">
        <label for="location">Location:</label>
        <select id="location" name="location" required>
          <option disabled selected value>-- select location --</option>
          <option value="MER 1.010">MER 1.010</option>
          <option value="MER 1.010A">MER 1.010A</option>
          <option value="MER 1.001">MER 1.001</option>
          <option value="MER 1.002">MER 1.002</option>
          <option value="MER 1.003">MER 1.003</option>
          <option value="MER 1.004">MER 1.004</option>
          <option value="MER 1.004A">MER 1.004A</option>
          <option value="MER 1.004B">MER 1.004B</option>
          <option value="MER 1.004C">MER 1.004C</option>
          <option value="MER 1.005">MER 1.005</option>
          <option value="MER 1.005A">MER 1.005A</option>
          <option value="MER 1.006">MER 1.006</option>
          <option value="MER 1.006A">MER 1.006A</option>
          <option value="MER 1.006B">MER 1.006B</option>
          <option value="MER 1.007">MER 1.007</option>
          <option value="MER 1.008">MER 1.008</option>
          <option value="MER 1.009">MER 1.009</option>
          <option value="MER 1.010">MER 1.010</option>
          <option value="MER 1.010A">MER 1.010A</option>
          <option value="MER 1.010AA">MER 1.010AA</option>
          <option value="MER 1.010B">MER 1.010B</option>
          <option value="MER 1.010C">MER 1.010C</option>
          <option value="MER 1.011">MER 1.011</option>
          <option value="MER 1.012">MER 1.012</option>
          <option value="MER 1.014">MER 1.014</option>
          <option value="MER 1.0E2">MER 1.0E2</option>
          <option value="MER 1.0E3">MER 1.0E3</option>
          <option value="MER 1.100">MER 1.100</option>
          <option value="MER 1.100A">MER 1.100A</option>
          <option value="MER 1.102">MER 1.102</option>
          <option value="MER 1.104">MER 1.104</option>
          <option value="MER 1.106">MER 1.106</option>
          <option value="MER 1.108">MER 1.108</option>
          <option value="MER 1.108A">MER 1.108A</option>
          <option value="MER 1.108B">MER 1.108B</option>
          <option value="MER 1.108C">MER 1.108C</option>
          <option value="MER 1.108D">MER 1.108D</option>
          <option value="MER 1.110">MER 1.110</option>
          <option value="MER 1.112">MER 1.112</option>
          <option value="MER 1.1E1">MER 1.1E1</option>
          <option value="MER 1.200">MER 1.200</option>
          <option value="MER 1.200A">MER 1.200A</option>
          <option value="MER 1.202">MER 1.202</option>
          <option value="MER 1.204">MER 1.204</option>
          <option value="MER 1.206">MER 1.206</option>
          <option value="MER 1.206A">MER 1.206A</option>
          <option value="MER 1.206B">MER 1.206B</option>
          <option value="MER 1.206C">MER 1.206C</option>
          <option value="MER 1.206D">MER 1.206D</option>
          <option value="MER 1.206E">MER 1.206E</option>
          <option value="MER 1.206F">MER 1.206F</option>
          <option value="MER 1.206G">MER 1.206G</option>
          <option value="MER 1.206H">MER 1.206H</option>
          <option value="MER 1.206I">MER 1.206I</option>
          <option value="MER 1.206J">MER 1.206J</option>
          <option value="MER 1.206K">MER 1.206K</option>
          <option value="MER 1.206L">MER 1.206L</option>
          <option value="MER 1.206M">MER 1.206M</option>
          <option value="MER 1.206N">MER 1.206N</option>
          <option value="MER 1.206P">MER 1.206P</option>
          <option value="MER 1.206Q">MER 1.206Q</option>
          <option value="MER 1.206R">MER 1.206R</option>
          <option value="MER 1.206S">MER 1.206S</option>
          <option value="MER 1.206T">MER 1.206T</option>
          <option value="MER 1.206U">MER 1.206U</option>
          <option value="MER 1.206V">MER 1.206V</option>
          <option value="MER 1.206W">MER 1.206W</option>
          <option value="MER 1.206X">MER 1.206X</option>
          <option value="MER 1.206Y">MER 1.206Y</option>
          <option value="MER 1.206Z">MER 1.206Z</option>
          <option value="MER 1.208">MER 1.208</option>
          <option value="MER 1.209">MER 1.209</option>
          <option value="MER 1.210">MER 1.210</option>
          <option value="MER 1.211">MER 1.211</option>
          <option value="MER 1.212">MER 1.212</option>
          <option value="MER 1.214">MER 1.214</option>
          <option value="MER 1.300">MER 1.300</option>
          <option value="MER 1.300A">MER 1.300A</option>
          <option value="MER 1.302">MER 1.302</option>
          <option value="MER 1.304">MER 1.304</option>
          <option value="MER 1.304A">MER 1.304A</option>
          <option value="MER 1.306">MER 1.306</option>
          <option value="MER 1.308">MER 1.308</option>
          <option value="MER 1.310">MER 1.310</option>
          <option value="MER 1.310A">MER 1.310A</option>
          <option value="MER 1.310B">MER 1.310B</option>
          <option value="MER 1.310C">MER 1.310C</option>
          <option value="MER 1.320">MER 1.320</option>
          <option value="MER 1.400">MER 1.400</option>
          <option value="MER 1.402">MER 1.402</option>
          <option value="MER 1.404">MER 1.404</option>
          <option value="MER 1.404A">MER 1.404A</option>
          <option value="MER 1.406">MER 1.406</option>
          <option value="MER 1.408">MER 1.408</option>
          <option value="MER 1.412">MER 1.412</option>
          <option value="MER 1.414">MER 1.414</option>
          <option value="MER 1.416">MER 1.416</option>
          <option value="MER 1.418">MER 1.418</option>
          <option value="MER 1.420">MER 1.420</option>
          <option value="MER 1.422">MER 1.422</option>
          <option value="MER 1.500">MER 1.500</option>
          <option value="MER 1.502">MER 1.502</option>
          <option value="MER 1.502A">MER 1.502A</option>
          <option value="MER 1.502B">MER 1.502B</option>
          <option value="MER 1.504">MER 1.504</option>
          <option value="MER 1.506">MER 1.506</option>
          <option value="MER 1.506A">MER 1.506A</option>
          <option value="MER 1.506B">MER 1.506B</option>
          <option value="MER 1.506C">MER 1.506C</option>
          <option value="MER 1.508">MER 1.508</option>
          <option value="MER 1.510">MER 1.510</option>
          <option value="MER 1.512">MER 1.512</option>
          <option value="MER 1.514">MER 1.514</option>
          <option value="MER 1.600">MER 1.600</option>
          <option value="MER 1.600A">MER 1.600A</option>
          <option value="MER 1.602">MER 1.602</option>
          <option value="MER 1.604">MER 1.604</option>
          <option value="MER 1.604A">MER 1.604A</option>
          <option value="MER 1.606">MER 1.606</option>
          <option value="MER 1.606A">MER 1.606A</option>
          <option value="MER 1.606AA">MER 1.606AA</option>
          <option value="MER 1.606AB">MER 1.606AB</option>
          <option value="MER 1.606B">MER 1.606B</option>
          <option value="MER 1.606C">MER 1.606C</option>
          <option value="MER 1.606D">MER 1.606D</option>
          <option value="MER 1.606E">MER 1.606E</option>
          <option value="MER 1.606F">MER 1.606F</option>
          <option value="MER 1.606G">MER 1.606G</option>
          <option value="MER 1.606H">MER 1.606H</option>
          <option value="MER 1.606I">MER 1.606I</option>
          <option value="MER 1.606J">MER 1.606J</option>
          <option value="MER 1.606K">MER 1.606K</option>
          <option value="MER 1.606L">MER 1.606L</option>
          <option value="MER 1.606M">MER 1.606M</option>
          <option value="MER 1.608">MER 1.608</option>
          <option value="MER 1.608B">MER 1.608B</option>
          <option value="MER 1.610">MER 1.610</option>
          <option value="MER 1.612">MER 1.612</option>
          <option value="MER 1.700">MER 1.700</option>
          <option value="MER 1.700A">MER 1.700A</option>
          <option value="MER 1.700B">MER 1.700B</option>
          <option value="MER 1.700C">MER 1.700C</option>
          <option value="MER 1.700D">MER 1.700D</option>
          <option value="MER 1.700E">MER 1.700E</option>
          <option value="MER 1.700F">MER 1.700F</option>
          <option value="MER 1.702">MER 1.702</option>
          <option value="MER 1.704">MER 1.704</option>
          <option value="MER 1.704A">MER 1.704A</option>
          <option value="MER 1.704B">MER 1.704B</option>
          <option value="MER 1.705">MER 1.705</option>
          <option value="MER 1.706">MER 1.706</option>
          <option value="MER 1.708">MER 1.708</option>
          <option value="MER 1.710">MER 1.710</option>
          <option value="MER 1.710A">MER 1.710A</option>
          <option value="MER 1.712">MER 1.712</option>
          <option value="MER 1.712A">MER 1.712A</option>
          <option value="MER 1.714">MER 1.714</option>
          <option value="MER 1.716">MER 1.716</option>
          <option value="MER 1.718">MER 1.718</option>
          <option value="MER 1.720">MER 1.720</option>
          <option value="MER 1.720A">MER 1.720A</option>
          <option value="MER 1.722">MER 1.722</option>
          <option value="MER 1.722A">MER 1.722A</option>
          <option value="MER 1.722B">MER 1.722B</option>
          <option value="MER 1.724">MER 1.724</option>
          <option value="MER 1.726">MER 1.726</option>
          <option value="MER 1.728">MER 1.728</option>
          <option value="MER 1.730">MER 1.730</option>
          <option value="MER 1.730A">MER 1.730A</option>
          <option value="MER 1.732">MER 1.732</option>
          <option value="MER 1.734">MER 1.734</option>
          <option value="MER 1.736">MER 1.736</option>
          <option value="MER 1.738">MER 1.738</option>
          <option value="MER 1.740">MER 1.740</option>
          <option value="MER 1.742">MER 1.742</option>
          <option value="MER 1.744">MER 1.744</option>
          <option value="MER 1.746">MER 1.746</option>
          <option value="MER 1.748">MER 1.748</option>
          <option value="MER 1.750">MER 1.750</option>
          <option value="MER 1.752">MER 1.752</option>
          <option value="MER 1.754">MER 1.754</option>
          <option value="MER 1.756">MER 1.756</option>
          <option value="MER 1.756A">MER 1.756A</option>
          <option value="MER 1.800">MER 1.800</option>
          <option value="MER 1.802">MER 1.802</option>
          <option value="MER 1.804">MER 1.804</option>
          <option value="MER 1.806">MER 1.806</option>
          <option value="MER 1.808">MER 1.808</option>
          <option value="MER 1.810">MER 1.810</option>
          <option value="MER 1.812">MER 1.812</option>
          <option value="MER 1.814">MER 1.814</option>
          <option value="MER 1.816">MER 1.816</option>
          <option value="MER 1.818">MER 1.818</option>
          <option value="MER 1.820">MER 1.820</option>
          <option value="MER 1.820A">MER 1.820A</option>
          <option value="MER 1.822">MER 1.822</option>
          <option value="MER 1.824">MER 1.824</option>
          <option value="MER 2.001">MER 2.001</option>
          <option value="MER 2.004">MER 2.004</option>
          <option value="MER 2.100">MER 2.100</option>
          <option value="MER 2.101">MER 2.101</option>
          <option value="MER 2.102">MER 2.102</option>
          <option value="MER 2.104 ">MER 2.104</option>
          <option value="MER 2.106">MER 2.106</option>
          <option value="MER 2.108">MER 2.108</option>
          <option value="MER 2.110">MER 2.110</option>
          <option value="MER 2.112">MER 2.112</option>
          <option value="MER 2.114">MER 2.114</option>
          <option value="MER 2.1E1">MER 2.1E1</option>
          <option value="MER 2.200">MER 2.200</option>
          <option value="MER 2.202">MER 2.202</option>
          <option value="MER 2.206">MER 2.206</option>
          <option value="MER 2.206A">MER 2.206A</option>
          <option value="MER 2.206B">MER 2.206B</option>
          <option value="MER 2.206D">MER 2.206D</option>
          <option value="MER 2.206E">MER 2.206E</option>
          <option value="MER 2.206F">MER 2.206F</option>
          <option value="MER 2.206G">MER 2.206G</option>
          <option value="MER 2.206H">MER 2.206H</option>
          <option value="MER 2.206I">MER 2.206I</option>
          <option value="MER 2.206J">MER 2.206J</option>
          <option value="MER 2.206K">MER 2.206K</option>
          <option value="MER 2.206L">MER 2.206L</option>
          <option value="MER 2.206M">MER 2.206M</option>
          <option value="MER 2.206N">MER 2.206N</option>
          <option value="MER 2.206P">MER 2.206P</option>
          <option value="MER 2.206Q">MER 2.206Q</option>
          <option value="MER 2.206R">MER 2.206R</option>
          <option value="MER 2.206S">MER 2.206S</option>
          <option value="MER 2.206T">MER 2.206T</option>
          <option value="MER 2.206U">MER 2.206U</option>
          <option value="MER 2.206V">MER 2.206V</option>
          <option value="MER 2.206W">MER 2.206W</option>
          <option value="MER 2.206X">MER 2.206X</option>
          <option value="MER 2.206Y">MER 2.206Y</option>
          <option value="MER 2.206YY">MER 2.206YY</option>
          <option value="MER 2.206Z">MER 2.206Z</option>
          <option value="MER 2.206ZZ">MER 2.206ZZ</option>
          <option value="MER 2.208">MER 2.208</option>
          <option value="MER 2.210">MER 2.210</option>
          <option value="MER 2.212">MER 2.212</option>
          <option value="MER 2.214">MER 2.214</option>
          <option value="MER 2.300">MER 2.300</option>
          <option value="MER 2.400">MER 2.400</option>
          <option value="MER 2.402">MER 2.402</option>
          <option value="MER 2.404">MER 2.404</option>
          <option value="MER 2.404A">MER 2.404A</option>
          <option value="MER 2.406">MER 2.406</option>
          <option value="MER 2.408">MER 2.408</option>
          <option value="MER 2.410">MER 2.410</option>
          <option value="MER 2.4E2">MER 2.4E2</option>
          <option value="MER 2.500">MER 2.500</option>
          <option value="MER 2.502">MER 2.502</option>
          <option value="MER 2.504">MER 2.504</option>
          <option value="MER 2.506">MER 2.506</option>
          <option value="MER 2.506A">MER 2.506A</option>
          <option value="MER 2.506B">MER 2.506B</option>
          <option value="MER 2.507">MER 2.507</option>
          <option value="MER 2.507A">MER 2.507A</option>
          <option value="MER 2.508">MER 2.508</option>
          <option value="MER 2.510">MER 2.510</option>
          <option value="MER 2.512">MER 2.512</option>
          <option value="MER 2.512A">MER 2.512A</option>
          <option value="MER 2.514">MER 2.514</option>
          <option value="MER 2.600">MER 2.600</option>
          <option value="MER 2.602">MER 2.602</option>
          <option value="MER 2.604">MER 2.604</option>
          <option value="MER 2.604A">MER 2.604A</option>
          <option value="MER 2.604B">MER 2.604B</option>
          <option value="MER 2.606">MER 2.606</option>
          <option value="MER 2.606A">MER 2.606A</option>
          <option value="MER 2.606AA">MER 2.606AA</option>
          <option value="MER 2.606AB">MER 2.606AB</option>
          <option value="MER 2.606B">MER 2.606B</option>
          <option value="MER 2.606C">MER 2.606C</option>
          <option value="MER 2.606D">MER 2.606D</option>
          <option value="MER 2.606E">MER 2.606E</option>
          <option value="MER 2.606F">MER 2.606F</option>
          <option value="MER 2.606G">MER 2.606G</option>
          <option value="MER 2.606I">MER 2.606I</option>
          <option value="MER 2.606J">MER 2.606J</option>
          <option value="MER 2.606K">MER 2.606K</option>
          <option value="MER 2.606L">MER 2.606L</option>
          <option value="MER 2.606M">MER 2.606M</option>
          <option value="MER 2.608">MER 2.608</option>
          <option value="MER 2.608A">MER 2.608A</option>
          <option value="MER 2.608B">MER 2.608B</option>
          <option value="MER 2.610">MER 2.610</option>
          <option value="MER 2.612">MER 2.612</option>
          <option value="MER 2.700">MER 2.700</option>
          <option value="MER 2.700A">MER 2.700A</option>
          <option value="MER 2.700B">MER 2.700B</option>
          <option value="MER 2.800">MER 2.800</option>
          <option value="MER 2.802">MER 2.802</option>
          <option value="MER 2.804">MER 2.804</option>
          <option value="MER 2.806">MER 2.806</option>
          <option value="MER 2.808">MER 2.808</option>
          <option value="MER 2.810">MER 2.810</option>
          <option value="MER 2.812">MER 2.812</option>
          <option value="MER 2.816">MER 2.816</option>
          <option value="MER 2.818">MER 2.818</option>
          <option value="MER 2.820">MER 2.820</option>
          <option value="MER 2.822">MER 2.822</option>
          <option value="MER 2.824">MER 2.824</option>
          <option value="MER 2.826">MER 2.826</option>
          <option value="MER 2.8E3">MER 2.8E3</option>
        </select>
      </div>

      <div class="div2">
        <label for="chemName">Chemical Name</label>
        <select id="chemName" name="chemName" required>
          <option disabled selected value>-- select chemical name --</option>
          <option value="Aluminum Etch 16:1:1:2">Aluminum Etch 16:1:1:2</option>
          <option value="Ammonium Fluoride 40%">Ammonium Fluoride 40%</option>
          <option value="Ammonium Hydroxide 29%">Ammonium Hydroxide 29%</option>
          <option value="AMYL ACETATE">AMYL ACETATE</option>
          <option value="AZ® 1529 Photoresist">AZ® 1529 Photoresist</option>
          <option value="AZ® 300 MIF Developer">AZ® 300 MIF Developer</option>
          <option value="AZ® 400K Developer">AZ® 400K Developer</option>
          <option value="AZ® 400T Photoresist Stripper">
            AZ® 400T Photoresist Stripper
          </option>
          <option value="AZ® 726 MIF Developer">AZ® 726 MIF Developer</option>
          <option value="AZ® Kwik Strip Remover">AZ® Kwik Strip Remover</option>
          <option value="AZ® MiR 703 Photoresist">
            AZ® MiR 703 Photoresist
          </option>
          <option value="AZ® P4903 Photoresist">AZ® P4903 Photoresist</option>
          <option
            value="CONTAMINATED DEBRIS,SULFURIC ACID,NITRIC ACID,HYDROCHLORIC ACID,HYDROFLUORIC ADC">
            CONTAMINATED DEBRIS, SULFURIC ACID, NITRIC ACID, HYDROCHLORIC ACID,
            HYDROFLUORIC ADC
          </option>
          <option value="Cooling fluid">Cooling fluid</option>
          <option value="Developer Waste Stream">Developer Waste Stream</option>
          <option value="EBR PG">EBR PG</option>
          <option value="ETHANOL">ETHANOL</option>
          <option value="Glacial Acetic Acid Semiconductor Grade">
            Glacial Acetic Acid Semiconductor Grade
          </option>
          <option value="ISOPROPANOL">ISOPROPANOL</option>
          <option value="LIGHT BULB CONTAINING MERCURY">
            LIGHT BULB CONTAINING MERCURY
          </option>
          <option value="METHANOL">METHANOL</option>
          <option value="METHYL ISOBUTYL KETONE">METHYL ISOBUTYL KETONE</option>
          <option value="MIBK/IPA 1:3">MIBK/IPA 1:3</option>
          <option value="N-METHYL-2-PYRROLIDONE">N-METHYL-2-PYRROLIDONE</option>
          <option value="N-Methyl-2-pyrrolidone and Isopropanol">
            N-Methyl-2-pyrrolidone and Isopropanol
          </option>
          <option value="PA-400R">PA-400R</option>
          <option value="PA-401D">PA-401D</option>
          <option value="Phosphoric Acid, 85% LM">
            Phosphoric Acid, 85% LM
          </option>
          <option value="REMOVER PG">REMOVER PG</option>
          <option value="Resist Developer RD5">Resist Developer RD5</option>
          <option value="Resist Developer RD6">Resist Developer RD6</option>
          <option value="RS-111">RS-111</option>
          <option value="Sodium Sulphate (Aqueous)">
            Sodium Sulphate (Aqueous)
          </option>
          <option value="Solid Arsenic Contaminated Waste Stream">
            Solid Arsenic Contaminated Waste Stream
          </option>
          <option value="Solvent Waste Stream">Solvent Waste Stream</option>
          <option value="SU8 Developer">SU8 Developer</option>
          <option value="Tetramethylammonium Hydroxide (25% in H2O)">
            Tetramethylammonium Hydroxide (25% in H2O)
          </option>
          <option value="ZDMAC">ZDMAC</option>
          <option value="TETRAMETHYLAMMONIUM HYDROXIDE">
            TETRAMETHYLAMMONIUM HYDROXIDE
          </option>
          <option value="MICROPOSIT 351 DEVELOPER">
            MICROPOSIT 351 DEVELOPER
          </option>
          <option value="MICROPOSIT® MF® 319 Developer">
            MICROPOSIT® MF® 319 Developer
          </option>
          <option value="MICROPOSIT® MF® 314 Developer">
            MICROPOSIT® MF® 314 Developer
          </option>
          <option value="MICROPOSIT® MF® 321 Developer">
            MICROPOSIT® MF® 321 Developer
          </option>
          <option value="Chromium Cermet Etchant TFE">
            Chromium Cermet Etchant TFE
          </option>
          <option value="TOLUENE">TOLUENE</option>
          <option value="MICROPOSIT® LDD® 26W Developer">
            MICROPOSIT® LDD® 26W Developer
          </option>
          <option value="NMD-W 2.38% Developer">NMD-W 2.38% Developer</option>
          <option
            value="CONTAMINATED DEBRIS W/ACETONE 33%,ISOPROPANOL 34%,METHANOL 33%">
            CONTAMINATED DEBRIS W/ACETONE 33%,ISOPROPANOL 34%,METHANOL 33%
          </option>
          <option value="SODIUM HYDROXIDE">SODIUM HYDROXIDE</option>
          <option value="POTASSIUM HYDROXIDE">POTASSIUM HYDROXIDE</option>
          <option value="AZ® 726 MIF Developer">AZ® 726 MIF Developer</option>
          <option value="AZ Developer">AZ Developer</option>
          <option value="PREFERENTIAL SILICON ETCHANT PSE-200">
            PREFERENTIAL SILICON ETCHANT PSE-200
          </option>
          <option value="ARSENIC CONTAMINATED DEBRIS 100%">
            ARSENIC CONTAMINATED DEBRIS 100%
          </option>
          <option value="QZ 3301 Polyimide Developer">
            QZ 3301 Polyimide Developer
          </option>
          <option value="QZ 3312 Polyimide Developer">
            QZ 3312 Polyimide Developer
          </option>
          <option value="Developer for Photoresist ma-D 525">
            Developer for Photoresist ma-D 525
          </option>
          <option value="EXOPYLITE">EXOPYLITE</option>
          <option value="Copper Etch APS-100">Copper Etch APS-100</option>
        </select>
      </div>

      <div class="div3">
        <label for="count">Number of Containers</label>
        <input
          type="text"
          id="count"
          name="contCount"
          step="1"
          min="1"
          pattern="^[0-9]+$"
          required />
      </div>

      <div class="div4">
        <label for="contType">Container Type</label>
        <select id="contType" name="contType" required>
          <option disabled selected value>-- select container type --</option>
          <option value="PB Poly Bottle">PB Poly Bottle</option>
          <option value="AC Aerosol Cans">AC Aerosol Cans</option>
          <option value="BA Bag">BA Bag</option>
          <option value="BN Bin">BN Bin</option>
          <option value="BT Batteries">BT Batteries</option>
          <option value="BX BOX">BX BOX</option>
          <option value="CF Carton Fiber">CF Carton Fiber</option>
          <option value="CF Fiber Box">CF Fiber Box</option>
          <option value="CG Container Glass">CG Container Glass</option>
          <option value="CM Carton Metal">CM Carton Metal</option>
          <option value="CM Container Metal">CM Container Metal</option>
          <option value="CW Carton Wood">CW Carton Wood</option>
          <option value="CY Cylinders">CY Cylinders</option>
          <option value="DF Drum Fiber">DF Drum Fiber</option>
          <option value="DF Drum Poly Closed">DF Drum Poly Closed</option>
          <option value="DF Drum Poly Open">DF Drum Poly Open</option>
          <option value="DM Drum Metal">DM Drum Metal</option>
          <option value="DM Drum Metal Closed">DM Drum Metal Closed</option>
          <option value="DM Drum Metal Open">DM Drum Metal Open</option>
          <option value="DP Drum Poly">DP Drum Poly</option>
          <option value="DR Dump Trailer">DR Dump Trailer</option>
          <option value="DT Dump truck">DT Dump truck</option>
          <option value="DW Drum Wood">DW Drum Wood</option>
          <option value="GB Glass Bottle">GB Glass Bottle</option>
          <option value="HG Hopper or Gondola Car">
            HG Hopper or Gondola Car
          </option>
          <option value="JP Jug Plastic">JP Jug Plastic</option>
          <option value="Metal Portable Tote">Metal Portable Tote</option>
          <option value="NO None">NO None</option>
          <option value="PA Pallet">PA Pallet</option>
          <option value="PL Pail Metal (poly lined)">
            PL Pail Metal (poly lined)
          </option>
          <option value="PM Pail Metal">PM Pail Metal</option>
          <option value="Poly Portable Tote">Poly Portable Tote</option>
          <option value="PP Pail Poly">PP Pail Poly</option>
          <option value="RB Roll-Off Box">RB Roll-Off Box</option>
          <option value="TC Tank car">TC Tank car</option>
          <option value="TP Tank portable">TP Tank portable</option>
          <option value="TT Tank truck">TT Tank truck</option>
        </select>
      </div>

      <div class="div5">
        <label for="contSize">Container Size</label>
        <input
          type="text"
          id="contSize"
          name="contSize"
          pattern="^\d+\.\d{2}$"
          required />
      </div>

      <div class="div6">
        <label for="sizeUnit">Units for Container Size</label>
        <select id="sizeUnit" name="sizeUnit" required>
          <option disabled selected value>-- select units --</option>
          <option value="G GALLONS">G GALLONS</option>
          <option value="A MILLIGRAMS">A MILLIGRAMS</option>
          <option value="C OUNCES FORCE">C OUNCES FORCE</option>
          <option value="F CUBIC FEET">F CUBIC FEET</option>
          <option value="FL OZ">FL OZ</option>
          <option value="I MILLILITERS">I MILLILITERS</option>
          <option value="K KILOGRAMS">K KILOGRAMS</option>
          <option value="L LITERS">L LITERS</option>
          <option value="M METRIC TONS">M METRIC TONS</option>
          <option value="N CUBIC METERS">N CUBIC METERS</option>
          <option value="OZ">OZ</option>
          <option value="P POUNDS">P POUNDS</option>
          <option value="Q QUARTS">Q QUARTS</option>
          <option value="R GRAMS">R GRAMS</option>
          <option value="S PINTS">S PINTS</option>
          <option value="T TONS">T TONS</option>
          <option value="Y CUBIC YARDS">Y CUBIC YARDS</option>
          <option value="Z TROY OUNCES">Z TROY OUNCES</option>
        </select>
      </div>

      <div class="div7">
        <label for="quantity">Quantity of Waste</label>
        <input
          type="text"
          id="quantity"
          name="quantity"
          pattern="^\d+\.\d{2}$"
          required />
      </div>

      <div class="div8">
        <label for="unit">Units for Quantity of Waste</label>
        <select id="unit" name="unit" required>
          <option disabled selected value>-- select units --</option>
          <option value="G GALLONS">G GALLONS</option>
          <option value="A MILLIGRAMS">A MILLIGRAMS</option>
          <option value="C OUNCES FORCE">C OUNCES FORCE</option>
          <option value="F CUBIC FEET">F CUBIC FEET</option>
          <option value="FL OZ">FL OZ</option>
          <option value="I MILLILITERS">I MILLILITERS</option>
          <option value="K KILOGRAMS">K KILOGRAMS</option>
          <option value="L LITERS">L LITERS</option>
          <option value="M METRIC TONS">M METRIC TONS</option>
          <option value="N CUBIC METERS">N CUBIC METERS</option>
          <option value="OZ">OZ</option>
          <option value="P POUNDS">P POUNDS</option>
          <option value="Q QUARTS">Q QUARTS</option>
          <option value="R GRAMS">R GRAMS</option>
          <option value="S PINTS">S PINTS</option>
          <option value="T TONS">T TONS</option>
          <option value="Y CUBIC YARDS">Y CUBIC YARDS</option>
          <option value="Z TROY OUNCES">Z TROY OUNCES</option>
        </select>
      </div>

      <div class="div9">
        <label for="physState">Physical State</label>
        <select id="physState" name="physState" required>
          <option disabled selected value>-- select state --</option>
          <option value="LIQUID">LIQUID</option>
          <option value="AEROSOL">AEROSOL</option>
          <option value="GAS">GAS</option>
          <option value="SLUDGE">SLUDGE</option>
          <option value="SOLID">SOLID</option>
          <option value="VARIOUS">VARIOUS</option>
        </select>
      </div>

      <button type="submit">Generate Label</button>
    </form>
    <footer>
      <a href="https://www.linkedin.com/in/william-veith/" class="author-link">
        Label Generator - Author William Veith
      </a>
    </footer>
    <script>
      const onlyNumbersAllowed = (event) => {
        event.target.value = event.target.value.replace(/(^0|[^0-9])/g, "");
        event.target.setSelectionRange(
          event.target.value.length,
          event.target.value.length
        );
      };

      const upToTwoDecimals = (event) => {
        event.target.value = event.target.value.replace(
          /[^0-9.]|(\.\d{2})\d+|(\..*)\./g,
          (match, group1) => group1 || ""
        );
        event.target.setSelectionRange(
          event.target.value.length,
          event.target.value.length
        );
      };

      const numberOfItemsField = document.getElementById("count");
      const containerSizeField = document.getElementById("contSize");
      const quantityInputField = document.getElementById("quantity");

      numberOfItemsField.addEventListener("input", onlyNumbersAllowed);
      quantityInputField.addEventListener("input", upToTwoDecimals);
      containerSizeField.addEventListener("input", upToTwoDecimals);
    </script>
  </body>
</html>
