<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/static/assets/images/favicon.png" />
    <link rel="stylesheet" href="/static/assets/css/wastetagform.css" />
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waste Label Maker</title>
  </head>
  <body>
    {{ template "component-navbar.html" . }}
    <h1>Generate Waste Label</h1>
    <form class="parent" action="/wastetag" method="POST" autocomplete="off">
      <div class="div1">
        <label for="location">Location:</label>
        <select id="location" name="location" required>
          <option disabled selected value>-- select location --</option>
          {{ range .Locations }}
          <option value="{{ .location }}">{{ .location }}</option>
          {{ end }}
        </select>
      </div>

      <div class="div2">
        <label for="chemName">Chemical Name</label>
        <select id="chemName" name="chemName" required>
          <option disabled selected value>-- select chemical name --</option>
          {{ range .Components }}
          <option value="{{ .chem_name }}">{{ .chem_name }}</option>
          {{ end }}
        </select>
      </div>

      <div class="div3">
        <label for="count">Number of Containers</label>
        <input
          type="text"
          id="count"
          name="contCount"
          step="1"
          min="1"
          pattern="^[0-9]+$"
          required
        />
      </div>

      <div class="div4">
        <label for="contType">Container Type</label>
        <select id="contType" name="contType" required>
          <option disabled selected value>-- select container type --</option>
          {{ range .Containers }}
          <option value="{{ .full_name }}">{{ .full_name }}</option>
          {{ end }}
        </select>
      </div>

      <div class="div5">
        <label for="contSize">Container Size</label>
        <input
          type="text"
          id="contSize"
          name="contSize"
          pattern="^\d+\.\d{2}$"
          required
        />
      </div>

      <div class="div6">
        <label for="sizeUnit">Units for Container Size</label>
        <select id="sizeUnit" name="sizeUnit" required>
          <option disabled selected value>-- select units --</option>
          {{ range .Units }}
          <option value="{{ .full_name }}">{{ .full_name }}</option>
          {{ end }}
        </select>
      </div>

      <div class="div7">
        <label for="quantity">Quantity of Waste</label>
        <input
          type="text"
          id="quantity"
          name="quantity"
          pattern="^\d+\.\d{2}$"
          required
        />
      </div>

      <div class="div8">
        <label for="unit">Units for Quantity of Waste</label>
        <select id="unit" name="unit" required>
          <option disabled selected value>-- select units --</option>
          {{ range .Units }}
          <option value="{{ .full_name }}">{{ .full_name }}</option>
          {{ end }}
        </select>
      </div>

      <div class="div9">
        <label for="physState">Physical State</label>
        <select id="physState" name="physState" required>
          <option disabled selected value>-- select state --</option>
          {{ range .States }}
          <option value="{{ .state }}">{{ .state }}</option>
          {{ end }}
        </select>
      </div>

      <button type="submit">Generate Label</button>
    </form>
    {{ template "component-footer.html" . }}
    <script>
      const onlyNumbersAllowed = (event) => {
        event.target.value = event.target.value.replace(/(^0|[^0-9])/g, "");
        event.target.setSelectionRange(
          event.target.value.length,
          event.target.value.length
        );
      };

      const upToTwoDecimals = (event) => {
        event.target.value = event.target.value.replace(
          /[^0-9.]|(\.\d{2})\d+|(\..*)\./g,
          (match, group1) => group1 || ""
        );
        event.target.setSelectionRange(
          event.target.value.length,
          event.target.value.length
        );
      };

      const numberOfItemsField = document.getElementById("count");
      const containerSizeField = document.getElementById("contSize");
      const quantityInputField = document.getElementById("quantity");

      numberOfItemsField.addEventListener("input", onlyNumbersAllowed);
      quantityInputField.addEventListener("input", upToTwoDecimals);
      containerSizeField.addEventListener("input", upToTwoDecimals);
    </script>
  </body>
</html>
