<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/static/images/favicon.png" />
    <link rel="stylesheet" href="/static/css/waste-tag.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waste Label Maker</title>
  </head>
  <body>
    {{ template "component-navbar.html" . }}
    <div class="tag-utilities">
      <label for="numberOfCopies">Number Of Copies</label>
      <input id="numberOfCopies" type="text" value="1" />
      <button onclick="window.print()">Print Tag</button>
    </div>
    <div class="label">
      <div class="qr-code">
        <img id="qrCodeDataUri" src="{{.QrCodeBase64}}" alt="QR Code" />
        <input type="hidden" id="qrCodeValue" value="{{ .QRCodeValue }}" />
      </div>
      <div class="title">WASTE</div>
      <div class="details">
        Room No. : {{ .RoomNumber }}<br />
        Generator: {{ .GeneratorName }}<br />
        ID: {{ .TagNumber }}
      </div>
      <div class="content">
        <table class="content-table">
          <thead>
            <tr>
              <th style="width: 80%; border-right: 1px solid #000">Chemical</th>
              <th style="width: 20%; text-align: right">Percentage</th>
            </tr>
          </thead>
          <tbody>
            {{ range .Components }}
            <tr>
              <td style="border-right: 1px solid #000">{{ .Chemical }}</td>
              <td style="text-align: right">{{ .Percentage }}%</td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
    {{ template "component-footer.html" . }}
    <script type="module">
      import { numberOfCopies } from "/static/js/qr-code-api.js";
      document
        .getElementById("numberOfCopies")
        .addEventListener("input", numberOfCopies);
    </script>
    <script type="module">
      import { onlyNumbersAllowed } from "/static/js/input-validators.js";
      document
        .getElementById("numberOfCopies")
        .addEventListener("input", onlyNumbersAllowed);
    </script>
    <script src="/static/js/arrow-navigation.js"></script>
  </body>
</html>
